.chatButton {
 background-color: #51c4d3; /* napin väri */
 border: none;
 color: white;
 padding: 10px 24px;
 border-radius: 10px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 transition-duration: 0.4s;
 position: fixed;
 left: 30px;
 bottom: 25px;
}

h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #d49d42;
}

.chatButton:hover{
  opacity:1;
  background-color: #1687a7;
}

.testi {
  background-color: #845ec2;
}

.sendButton {
  display: inline-block;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #51c4d3;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #1687a7;
    left: 265px;
    bottom: 110px;
    position: fixed;
}

.sendButton:hover {
  background-color: #1687a7;
}

.sendButton:active {
  background-color: #1687a7;
  box-shadow: 0 5px #1687a7;
  transform: translateY(2px);
}

.container{
  text-align: center;
  position: fixed;
  bottom: 100px;
  left: 30px;
}

input{
  border: 5px solid #301b3f;
  border-radius: 10px;
  background-color: #301b3f;
  margin: 5px;
  height: 20px;
  width: 270px;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white;

}


.bot{
  background-color: rgb(152, 85, 212);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
  padding: 4px;
  padding-left: 20px;
  max-width: 300px;
  font-size: 12px;
}

.user{
  background-color: rgb(0, 180, 160);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  text-align: right;
  margin-top: 10px;
  padding: 4px;
  padding-right: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: 0;
  font-size: 12px;
}

.chat{
  display: inline-block;
  max-width: 300px;
  background-color: #301b3f;
  border-radius: 10px 10px 10px 10px;
}
.historyContainer{
  height:400px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 15px;
}
.historyContainer::-webkit-scrollbar {
    display: none;
}
